<% form_for :debate_file, :url => { :action => :add_file } do |form| %>
    <center>
        <table>
            <tr>
                <td colspan="2"><center><em>ADD File</em></center></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><%= form.text_field(:title) %></td>
            </tr>

            <tr>
                <td valign="top">Notes</td>
                <td><%= form.text_area(:notes) %></td>
            </tr>
            <tr>
                <td colspan="2">
                    <center>
                        <%= form.submit("Add File") %>
                    </center>
                </td>
            </tr>
        </table>
    </center>
<% end %>
